* {
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding-left: 10px;
}

li {
    padding: 5px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

main {
    margin: 20px;
    /* background-color: black;  */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search {
    padding: 3px;
    width: 350px;
}

.lucky {
    margin: 15px;
}

button {
    padding: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #af8d8d;
}

footer > ul {
    padding: 10px;
}
