:root {
    --color-black: rgba(0, 0, 0, 0.87);
    --color-gray: #70757a;
}

body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 50px;
    font-size: 14px;
}

nav .nav-link {
    color: var(--color-black);
}

.nav-link {
    text-decoration: none;
    color: var(--color-gray);
}

.nav-link:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding-right: 15px;
}

li {
    padding: 5px;
    margin: 0;
}

nav {
    margin: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.apps {
    cursor: pointer;
    padding-right: 10px;
    filter:grayscale(50%);
}

.user {
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

nav button {
    color: white;
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 5px;
}

main {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    margin-top: 30px;
    position: relative;
}

.search {
    width: 550px;
    padding: 13px;
    padding-left: 45px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.icons {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.buttons {
    margin: 15px;
}

.buttons > button {
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: #555;
    background-color: #f8f9fa;
    border: 1px solid transparent;
}

.buttons button:hover {
    border: 1px solid #ccc;
}

footer {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    margin-top: auto;
    background: #f2f2f2;
}

footer > ul {
    padding: 10px;
}

footer .nav-link {
    color: var(--color-gray);
}
